@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap');
:root {
    
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(236, 232, 221);
}

#my-logo {
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 4px;
    color: rgb(7, 57, 97);
}

.navbar-item span, .navbar-menu .navLinks:hover {
    color: rgb(255, 0, 128);
}

.hero {
    background-image: linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.9)),url("./images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.welcomeMessage, .welcomeMessageDev {
    font-size: 4rem;
    font-family: 'Jura', sans-serif;
    color: rgb(223, 228, 231);
    letter-spacing: 8px;
}

.myImg {
    width: 200px;
    border-radius: 50%;
    margin: 50px auto;
    transition: 0.3s;
}

.myImg:hover {
    /* border: 6px solid white; */
    box-shadow: 0 0 40px rgba(255, 237, 237, 0.678);
}


/* About Me section */

.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutContainer div {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}

.aboutMe {
    line-height: 2.5rem;
    text-align: center;
    padding: 0 10%;
}


.computerImg {
    width: 400px;
}

/* My Stack */

.myStackSection {
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.myStackTitle, .myPortfolioTitle {
    font-size: 6rem;
    font-family: 'Jura', sans-serif;
    align-self: flex-start;
    margin: 0 50px;
}

.myStackContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stackCard {
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: rgb(236, 232, 221);
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px rgb(236, 232, 221);
    margin: 20px 30px;
  }

  .stackCard:hover {
    transform:scale(1.03);
  }

  .stackCard img {
    height: 120px;
  }


@media only screen and (max-width: 1024px){

    .hero {
        height: 80vh;
    }

    #my-logo {
        font-size: 0.7rem;
        margin: 0;
    }

    .welcomeMessageDev {
        font-size: 1.7rem;
        padding: 0 50px;
        text-align: center;
    }

    .welcomeMessage {
        font-size: 3rem;
    }



    /* About Me section */

    .aboutContainer {
    flex-direction: column;
    }

    .reverseColumn {
        flex-direction: column-reverse; !important
    }

    .aboutMe {
        line-height: 2rem;
        padding: 6%;
    }

    /* My Stack */

    .myStackSection {
        flex-direction: column;
    }

    .myStackTitle {
        font-size: 2.5rem;
        align-self: unset;
    }

    .stackCard {
        text-align: center;
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 2px;

        width: 110px;
        height: 140px;

        margin: 10px;
      }
    
      .stackCard img {
        height: 60px;
      }

      /*  */

}